<!DOCTYPE html>
<html>
<head>
    <title>Crear Variable</title>
</head>
<body>

<h1>Crear Variable</h1>

<!-- Formulario para crear una nueva variable -->
<form method="post" action="{% url 'variable_create' %}">
    {% csrf_token %}
    <label for="id_name">Nombre:</label>
    <input type="text" name="name" id="id_name" required>
    <br>
    <label for="id_description">Descripción:</label>
    <textarea name="description" id="id_description" rows="4" cols="50"></textarea>
    <br>
    <label for="id_unit">Unidad:</label>
    <input type="text" name="unit" id="id_unit">
    <br>
    <button type="submit">Crear Variable</button>
</form>

</body>
</html>
