<!DOCTYPE html>
<html>
<head>
    <title>Lista de Variables</title>
</head>
<body>

<h1>Lista de Variables</h1>

<!-- Mostrar la lista de variables -->
<table border="1">
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Unidad</th>
    </tr>
    {% for variable in variables %}
    <tr>
        <td>{{ variable.id }}</td>
        <td>{{ variable.name }}</td>
        <td>{{ variable.description }}</td>
        <td>{{ variable.unit }}</td>
    </tr>
    {% endfor %}
</table>

</body>
</html>
