{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <h2>Lista de Variables</h2>

    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Unidad</th>
        </tr>
      </thead>
      <tbody>
        {% for variable in variable_list %}
          <tr>
            <td>{{ variable.id }}</td>
            <td>{{ variable.name }}</td>
            <td>{{ variable.description }}</td>
            <td>{{ variable.unit }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <a href="{% url 'index' %}" class="btn">Volver a la Página de Inicio</a>
  </div>
{% endblock %}
