<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Tu sección head actual aquí... -->
</head>
<body>

    <form class="form-inline my-2 my-lg-0">
        {% if user.is_authenticated %}
        <ul class="nav navbar-nav navbar-right">
            <li><a style="font-size:120%" class="nav-link">{{ user.username }}</a></li>
            <li><a style="font-size:120%; padding-right:20px" class="nav-link" href="/logout">Log out</a></li>
        </ul>
        {% else %}
        <ul class="nav navbar-nav navbar-right">
            <li><a style="font-size:120%; padding-right:20px" class="navbar-link" href="/login/auth0">Login</a></li>
        </ul>
        {% endif %}
      </form>

</body>
</html>
