<!-- Botón para volver al inicio -->
<a href="{% url 'index' %}" class="button">Volver al Inicio</a>

<!-- Mostrar el promedio -->
<h2>Promedio de pacientes con BPM anormal: {{ average_heart_rate }}</h2>

<!-- Mostrar la lista de medidas -->
<table border="1">
    <tr>
        <th>ID</th>
        <th>Valor</th>
        <th>Fecha y Hora</th>
        <th>Variable</th>
    </tr>
    {% for measurement in measurements %}
    <tr>
        <td>{{ measurement.id }}</td>
        <td>{{ measurement.value }}</td>
        <td>{{ measurement.timestamp }}</td>
        <td>{{ measurement.variable.name }}</td>
    </tr>
    {% endfor %}
</table>
